*.o
*.d
*.ko
*.so
*.a
*/build/test-*
*/build/beegfs-*
tags
*.pb.h
*.pb.cc
*.cmd
client_module/source/.tmp_versions/
client_module/source/Module.symvers
client_module/source/beegfs.mod.c
client_module/source/modules.order

